name: Update Wallpapers

on:
  schedule:
    - cron: '0 0 * * *' # Runs at Midnight UTC
  workflow_dispatch:      # Manual run button

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: pip install Pillow

    - name: Generate Life Wallpaper
      env:
        USER_BIRTHDAY: ${{ secrets.USER_BIRTHDAY }}
      run: python generate_wallpaper.py

    - name: Generate Year Wallpaper
      run: python generate_year_wallpaper.py

    - name: Commit and Push
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git add wallpaper.png year_progress.png
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update wallpapers" && git push)
